<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <img src="https://unsplash.com/photos/J_XuXX9m0KM">
    <h1>HOME! FIREFLY!</h1>
    <button> Let's Go Camping </button>


</body>

</html>